h1{
	color: black;
	font-family: 'Pacifico', sans-serif;
	padding: 0px;
	border: 10px solid #22313f;
	text-align: center;
}

h2{
	color: #505050;
	font-size: 1.2em;
	padding-top: 0px
}

p{
	color: #505050;
	font-style: italic;
}

body{
	/*background-attachment: fixed;
  	background-image: url(splash_image.jpeg);
  	background-position: center center;
  	background-repeat: no-repeat; */
  	background-size: cover;font-family: 'Arimo', sans-serif;
	color: #505050;
	background-color: #ececec;
	padding:0px 0px;
	margin: auto;
	width: 80%;
}
#abstract {
	background-color: #6897bb;
	margin-right: auto;
	margin-left: 5px;
	width: 48%;
	float: left;
}	
#mission-statement {
	background-color: #8bbbce;
	margin-left: auto;
	margin-right: 5px;
	width: 48%;
	float: right;
}

#links {
	clear:both;
	padding: 5px;
}

#title {
	background-color: #6c7a89;
}

.list {
	font-size: .75em;
	margin-bottom: 100px;
}

#travel {
	font-style: italic;
}

#day-emphasis {
	text-decoration: underline;
	color: yellow;
}

table {
	border-collapse: collapse;
	padding: 10%;
} 

td {
	border: 7px solid #6c7a89;
	padding: 25px;
}

th {
	border: 10px solid #22313f;
}